car-rental:
  vehicles:
    starter:
      enabled: true
      data:
        vehicles:
          - plate: 'PLT1000'
            color: '1000'
            model: 'Tesla 10'
            state: new
            year-of-production: '2011'
            ensured-on-date: '2024-01-01'
            ensured-due-date: '2025-01-01'
            external-insurance-id: 1000

          - plate: 'PLT1001'
            color: '1000'
            model: 'Tesla 11'
            state: new
            year-of-production: '2012'
            ensured-on-date: '2024-01-01'
            ensured-due-date: '2025-01-01'
            external-insurance-id: 1001

          - plate: 'PLT1002'
            color: '1000'
            model: 'Tesla 12'
            state: in_repair
            year-of-production: '2012'
            ensured-on-date: '2024-01-01'
            ensured-due-date: '2025-01-01'
            external-insurance-id: 1002

          - plate: 'PLT1003'
            color: '1000'
            model: 'Tesla 13'
            state: just_returned
            year-of-production: '2013'
            ensured-on-date: '2024-01-01'
            ensured-due-date: '2025-01-01'
            external-insurance-id: 1003

          - plate: 'PLT1004'
            color: '1111'
            model: 'Tesla 14'
            state: ready_to_rent
            rentPerDayPrice: 350.00
            year-of-production: '2014'
            ensured-on-date: '2024-01-01'
            ensured-due-date: '2025-01-01'
            external-insurance-id: 1004

          - plate: 'PLT1005'
            color: '118A'
            model: 'Tesla 15'
            state: not_insured
            year-of-production: '2015'
